.link-container {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.home-link {
    font-size: 2rem;
    cursor: pointer;
}

.space-gif {
    width: 30%
}