@font-face {
    font-family: 'Nasa';
    font-style: normal;
    font-weight: 400;
    src: local('Nasa'), url('https://fonts.cdnfonts.com/s/56439/Nasa.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
}

.background-image-container {
    background: url("https://wallpaperaccess.com/full/1130622.gif") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rocket-container {
    position: fixed;
    bottom: 0;
    width: 10%;
    height: 400px;
    animation: fly 5s linear infinite;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-title {
    font-size: 3rem;
    text-align: center;
    color: white;
    font-family: "Nasa", sans-serif;
    padding-top: 1rem;
}

.main-summary {
    color: white;
    text-align: center;
    max-width: 30rem;
}

.start-btn {
    color: white;
    font-size: 4rem;
    padding-top: 10rem;
}

.rocket {
    position: absolute;
    bottom: 0;
    right: 100px;
    transform: translateX(50%);
    width: 180px;
    height: auto;
}

.saturn-container {
    z-index: 250;
    position: absolute;
    top: 0;
    left: 0;
}

.saturn {
    width: 10rem;
}

@keyframes fly {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 100vh;
    }
}

@media only screen and (max-width: 768px) {
    .main-summary {
        color: white;
        text-align: center;
        max-width: 20rem;
    }
}