@font-face {
    font-family: 'Nasa';
    src: local('Nasa'), url('https://fonts.cdnfonts.com/s/56439/Nasa.woff') format('woff');
}

@font-face {
    font-family: 'Trench';
    src: url('../../assets/font/TrenchThin-16R0.otf') format('opentype');
}

.background-image-container {
    background: url("https://wallpaperaccess.com/full/1130622.gif") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    font-family: "Trench";
    font-size: 1.5rem;
}

.main-title {
    font-size: 3.5rem;
    text-align: center;
    color: white;
    font-family: "Nasa", sans-serif;
    margin-top: -1rem;
}

.main-summary {
    color: white;
    text-align: center;
    max-width: 30rem;
    font-size: 2rem;
}

.start-btn {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    padding-top: 2rem;
}

.saturn-container {
    z-index: 1;
    position: absolute;
    padding-top: 3rem;
    padding-left: 1rem;
    top: 0;
    left: 0;
}

.saturn {
    width: 13rem;
}

.neptune {
    width: 12rem
}

.neptune-container {
    z-index: 1;
    position: absolute;
    padding-top: 2rem;
    padding-right: 3rem;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 768px) {

    .main-title {
        font-size: 2rem;
    }

    .main-summary {
        max-width: 15rem;
        font-size: 1.3rem;
    }

    .start-btn {
        font-size: 3rem;
    }

    .saturn {
        width: 6rem;
    }

    .neptune {
        width: 5rem
    }

}