.APOD-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(77, 0, 128);
    box-shadow: 0 3px 5px rgb(253, 248, 255);
    width: 33rem;
    margin: 0 auto;
    height: 38rem;
    overflow: auto;
    background-color: black;
}

.APOD-explanation {
    width: 28rem;
    align-self: center;
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.APOD-img {
    height: 20rem;
    width: 27rem;
    align-self: center;
    border-radius: 5px;
    margin-top: 1rem;
}

.APOD-date {
    font-size: .8rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.APOD-title {
    font-size: 2.7rem;
    color: white;
    font-family: Trench;
    margin-bottom: -.1rem;
    margin-top: .8rem;
}

.APOD-container::-webkit-scrollbar {
    width: 6px;
}

.APOD-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
}

.APOD-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .APOD-container {
        width: 20rem;
        height: 25rem;
    }

    .APOD-explanation {
        width: 16rem;
        font-size: .7rem;
    }

    .APOD-img {
        height: 10rem;
        width: 12rem;
        margin-top: 1rem;
    }

    .APOD-date {
        font-size: .7rem;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .APOD-title {
        font-size: 1.7rem;
    }


}