button {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  color: black;
  font-family: 'Chalkduster', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* add some space between the child elements */
  margin: 0 auto; /* center the container horizontally */
}

.homepage {
  font-size: 8rem;
  font-family: 'Chalkduster', sans-serif;
  text-align: center;
  padding-top: 5rem;
  color: darkred;
  font-weight: bold;
}

body {
  background-image: url("https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?cs=srgb&dl=pexels-pixabay-207142.jpg&fm=jpg");
  background-size: cover;
}