button {
  display: flex;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  color: black;
  font-family: 'Chalkduster', sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

a:hover {
  color: darkred;
}

.form {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* add some space between the child elements */
  margin: 0 auto; /* center the container horizontally */
}

.homepage {
  font-size: 8rem;
  font-family: 'Chalkduster', sans-serif;
  text-align: center;
  padding-top: 5rem;
  color: darkred;
  font-weight: bold;
}
img {
  padding-top: 5rem;
}

body {
  background-image: url("https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?cs=srgb&dl=pexels-pixabay-207142.jpg&fm=jpg");
  background-size: cover;
}

.create-title {
  font-weight: bold;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
  font-family: 'Chalkduster', sans-serif;
}

input {
  font-size: 1.5rem;
  font-family: "gill sans";
  border-radius: 10px;
  background-color: oldlace;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

.correct-ans {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Chalkduster', sans-serif;
  padding-top: 1rem;
  font-weight: bold;
}

.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  color: darkred;
}

.btn:hover {
  background-color: transparent;
}

/* trivia */
.score {
  text-align: center;
  font-size: 2rem;
  font-family: 'Chalkduster', sans-serif;
  font-weight: bold;

}

.update-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  color: darkred;
  border-radius: 10px;
}

.update-btn:hover {
  background-color: transparent;
}

.delete-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  color: darkred;
  border-radius: 10px;
}

.delete-btn:hover {
  background-color: transparent;
}

.trivia-ques {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4rem;
  font-family: "gill sans";
  font-size: 1.5rem;
  min-width: 50px;
}

.trivia-choices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50px;
}

button {
  display: flex;
  justify-content: center;
  color: black;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: "gill sans";
}